.page-wrap {
    background: #d9dbdb;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px rgb(10, 42, 121);
    margin-top: 80px;
    border: 1px solid black;
    width: 500px;
    height: 600px;
    margin-left: 35%;
}

.label_box {
    width: 300px;
    height: 50px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.label_inside {
    height: 40px;
    width: 300px;
}

.btn_form {
    width: 200px;
    height: 44px;
    background: #197dd6;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

a {
    color: #197dd6;
}

a:hover {
    color: #b619d6;
}

.logo_box {
    margin-left: 188px;
    width: 125px;
    height: 50px;
    margin-left: 210px;
}

.logo {
    width: 125px;
    height: 50px;
}

.terms_conds {
    width: 300px;
    height: 80px;
}

.box_big {
    margin-top: 30px;
    margin-left: 100px;
}

.box_big textarea {
    background: white;
    border-radius: 4px;
    border: 1px solid #000000;
    outline: 0;
    padding: 12px 16px;
    width: 70%;
    height: 200px;
    font-size: 17px;
}